.navbar {
    background-color: #2bafc8 !important;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar-light .navbar-nav .nav-link {
    color: #eefafc !important;
}

.navbar-light .navbar-brand {
    color: #eefafc !important;
}

.exactCenter {
    /* top: 50%;
    left: 50%; */
    margin-top: 5em;
}

.border {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 20px !important;
}

.margin-top {
    margin-top: 15px;
}

.margin-left {
    padding-left: 15%;
}

.margin-indicator {
    margin-left: 25%;
}

.headings {
    color: #888888;
    font-weight: 500;
    text-transform: uppercase;
}

.mysidenav {
    width: 220px;
    background-color: #1b2229;
    color: white;
    height: 100vh;
    float: left;
}

.bg {
    background-color: none;
}

.btn-group>.btn:first-child {
    margin-left: 0;
    background: none;
    border: none;
    width: 100%;
}

.green {
    background-color: #38bd9b !important;
    color: white !important;
}

.white {
    color: white !important;
}

.violet {
    background-color: #7166ba !important;
}

.blue {
    background-color: #5c9cec !important;
}